body{
    background-color: rgba(71, 194, 89, 0.679);
}

.edificiosImg {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: solid 2px white ;
}

#main{
    margin-top: 20px;
}

iframe{
    border: solid 2px white;
    display: block; 
    width: 100%;
    margin: 3px 3px 3px 0px;
}

.reunionImg{
    height: auto;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
}